*,
body {
    font-family: Work Sans;
}

.secondary-bg {
    background-color: #ECEEF3;
}

.container-shadow {
    box-shadow: 2px 4px 36px 0px rgba(10, 5, 255, 0.16);
}

.sub-heading {
    color: #393640;
    font-size: 32px;
    font-weight: 600;
}

.caption {
    color: #393640;
    letter-spacing: -0.224px;
}

.text-16 {
    font-size: 16px;
}

.date {
    color: #9C9B9F;
    text-align: center;
    font-size: 13px;
}

.w-100 {
    width: 100%;
}